.sequencer {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

/* TRANSPORT SECTION */
.transport {
    display: flex;
    justify-content:space-between;
}


/* EDITOR SECTION */
.editorRow {
    display: flex;
    justify-content:space-between;
}
.rowSteps {
    display: flex;
}