nav {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
ul {
    display: flex;
}
ul > li {

    list-style-type: none;
}